class ApplicationController < ActionController::Base
  layout :set_layout
  include Pagy::Backend
  
  protected

  def set_layout
    return "auth" unless user_signed_in?
    return "auth" unless  current_user.has_account?
    "application"
  end
end