class AuthorizedController < ApplicationController
  before_action :authenticate_user! , :redirect_create_account, :set_variavles
  
  protected

  def after_sign_in_path_for(resource)
    root_path
  end

  def redirect_create_account
    @account = Account.new
    render "accounts/create_account" unless current_user.has_account?
  end

  def set_variavles
    @account_user = current_user.account_users.find_by(is_main: true)
    @current_account = @account_user.account
  end
end
