<% items = [
    { label: "One", path: "#" },
    { label: "Two", path: "#" },
  ] %>
<% items.each do |item| %>
  <li><a href="<%= item[:path] %>" class="nav-link px-2 link-<%= layout %>"><%= item[:label] %></a></li>
<% end %>