import { application } from "./application"
import HelloController from "./hello_controller"
application.register("hello", HelloController)

import Notification from "stimulus-notification"
application.register("notification", Notification)
  