import { application } from "./application"
import HelloController from "./hello_controller"
application.register("hello", HelloController)

import Notification from "stimulus-notification"
application.register("notification", Notification)

import StripeController from "./stripe_controller"
application.register("stripe", StripeController)

import NestedForm from "stimulus-rails-nested-form"
application.register("nested-form", NestedForm)