<%% contents = []
   contents << "<p>Clique no link abaixo para redefinir sua senha.</p>"
   contents << link_to("REDEFINIR SENHA", edit_password_url(@resource, reset_password_token: @token, config: message["client-config"].to_s, redirect_url: message["redirect-url"].to_s))
   contents << "<p>Esse link só é válido por 6 horas.</p>" %>
<%%= render("template", message: contents.join.html_safe) %>
