class User < ApplicationRecord
  after_initialize :set_defaults, unless: :persisted?
  has_and_belongs_to_many :accounts
  has_one_attached :avatar
  
  devise :database_authenticatable, :registerable,
         :recoverable, :rememberable, :validatable

  enum role: [:common, :admin]

  def self.search(q)
    return self.where('name LIKE ?', "%#{q}%") if q.present?

    self.all
  end

  def has_account?
    accounts.present?
  end

  def set_defaults
    self.role  ||= 0
  end
end
