<div class="container mt-5 px-5">
    <div class="mb-4">
        <h2><%%=t('.title', name: @plan.name)%></h2> <span><%%=t('.subtitle_html',  name: @plan.name, amount: @plan.amount)%></span>
    </div>
    <div class="row">
        <div class="col-md-8">
          <%%= render 'form' %>
        </div>
    </div>
</div>