plan = Plan.create(
  name: "Free",
  amount: 'Free',
  stripe_price_id: "****",
  status: 0,
  is_free: 1
)

acc = Account.create(
  name: "Default Super Admin",
  plan_id: plan.id
)

user = User.create(
  email: "welitonj.jose@gmail.com",
  password: "123456",
  password_confirmation: '123456',
  role: 1
)

AccountUser.create(
  user: user,
  account: acc,
  role: 0,
  is_main: 1
)
