<div class="my-2">
  <%%= f.input :body, as: :rich_text_area, label: false, input_html: {class: 'form-control'} %>
  <%%= f.input :user_id, as: :hidden, input_html: {value: current_user.id} %>
</div>
