<tr id="<%%= dom_id account %>">
    <td>
      <%%= link_to account.name,  account, class: 'btn' %>
    </td>
    <td>
      <%%= link_to account.account_users.count,  account, class: 'btn' %>
    </td>
  <td width="180px">
    <%%= render 'actions', account: account %>
  </td>
</tr>